@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "AktivGroteskCorp-Light";
  font-display: swap;
  src: url("../fonts/AktivGroteskCorp-Light.woff") format("woff"), url("../fonts/AktivGroteskCorp-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AktivGroteskCorp-Regular";
  font-display: swap;
  src: url("../fonts/AktivGroteskCorp-Regular.woff") format("woff"), url("../fonts/AktivGroteskCorp-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "AktivGroteskCorp-Regular", serif;
  color: #f8f7f5;
  font-size: 16pt;
  position: relative;
}

.pre-loader {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  background-color: #f8f7f5;
}

.pre-loader__art:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(50% - 50px/2);
  left: calc(50% - 50px/2);
  display: block;
  border: 2px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pre-loader__art:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 100px/2);
  left: calc(50% - 100px/2);
  display: block;
  border: 2px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.title {
  font-family: "AktivGroteskCorp-Light", serif;
  font-size: 24px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  text-align: center;
  float: left;
}

.title:after {
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  bottom: -13px;
  right: 50%;
  background-color: #f8f7f5;
}

.title-wrapper {
  position: absolute;
}

.bg-wrapper {
  position: relative;
  margin: 100px 0px 0px 0px;
  height: 2309px;
}

.bg {
  background: url("../img/section-bg.svg") no-repeat;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #202020;
}

.header__container {
  padding: 0 30px 0 30px;
  min-height: 100vh;
  min-width: 100%;
}

.header__edge {
  margin: 280px 75px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__fullscreen-block {
  padding-top: 70px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  font-family: "AktivGroteskCorp-Light", serif;
  font-size: 16pt;
}

.header__menu-item {
  position: relative;
}

.header__menu-item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 10%;
  opacity: 0;
  left: 0;
  background-color: #f8f7f5;
  -webkit-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  transition: all ease 200ms;
}

.header__menu-item:hover:before {
  opacity: 1;
  bottom: -10%;
  -webkit-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  transition: all ease 200ms;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item:not(:last-child) {
  margin: 0px 88px 0px 0px;
  position: relative;
}

.header__menu-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 10px;
  right: -50px;
  background-color: #f8f7f5;
  border-radius: 50%;
  cursor: auto;
}

.header__menu-item > a:visited {
  color: #f8f7f5;
}

.header__menu-item > a {
  color: #f8f7f5;
}

.header__title-block {
  margin: 200px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social {
  margin: 0px 0px 0px 0px;
  width: 30px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social-item {
  width: 30px;
  height: 30px;
}

.header__title {
  font-size: 64pt;
  line-height: 100px;
  position: relative;
}

.header__title:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 2px;
  width: 470px;
  background-color: #f8f7f5;
  z-index: 2;
}

.header__subtitle {
  font-family: "AktivGroteskCorp-Light", serif;
  margin: 60px 0px 0px 0px;
}

.header__read-more {
  font-family: "AktivGroteskCorp-Light", serif;
  font-size: 16pt;
  color: #f8f7f5;
  background-color: #202020;
  border: 1px solid #f8f7f5;
  padding: 22px 50px;
  margin: 80px 0px 0px 0px;
  -webkit-transition: all ease 100ms;
  -o-transition: all ease 100ms;
  transition: all ease 100ms;
}

.header__read-more:hover {
  background-color: #f8f7f5;
  color: #202020;
}

.header__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 290px 0px 0px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__scroll-text {
  font-family: "AktivGroteskCorp-Light", serif;
  margin: 120px 0px 0px 0px;
}

.header__mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__mouse-arrow {
  margin: 15px 0px 0px 2px;
}

.header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header__logo {
  top: 56px;
  right: 175px;
  position: absolute;
}

.header__slider {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  margin: 0px 100px 0px 0px;
}

.header__slider:after {
  content: "";
  position: absolute;
  left: -110px;
  top: -110px;
  border-radius: 100%;
  width: 1000px;
  height: 1000px;
  background: -o-radial-gradient(circle, rgba(248, 247, 245, 0.2) 0%, #202020 70%);
  background: radial-gradient(circle, rgba(248, 247, 245, 0.2) 0%, #202020 70%);
}

.header .swiper-container {
  max-width: 769px;
  max-height: 769px;
}

.header .swiper-pagination {
  margin: 0px 0px 35px 0px;
}

.header .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f8f7f5;
  padding: 5px;
  opacity: 1;
}

.header .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.header .swiper-pagination-bullet-active {
  background-color: #f8f7f5;
}

.about__what-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 160px;
  position: relative;
}

.about__content {
  max-width: 600px;
  margin: 0px 0px 0px 100px;
  padding: 0 30px;
}

.about__title {
  font-size: 36pt;
  font-family: "AktivGroteskCorp-Light", serif;
  margin: 0px 0px 37px 0px;
}

.about__description {
  font-family: "AktivGroteskCorp-Light", serif;
  line-height: 35px;
  font-size: 16pt;
}

.about__description p {
  margin: 0px 0px 20px 0px;
}

.about__bonsai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: -240px 0px 0px 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about__bonsai:after {
  content: "";
  position: absolute;
  width: 480px;
  height: 480px;
  top: 135px;
  left: 112px;
  display: block;
  border: 2px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -2;
}

.about__bonsai:before {
  content: "";
  position: absolute;
  width: 670px;
  height: 670px;
  top: 39px;
  left: 17px;
  display: block;
  border: 2px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -2;
}

.bonsai {
  margin-top: 25%;
}

.bonsai .swiper-container {
  max-width: 80%;
}

.bonsai .gallery-thumbs {
  max-width: 800px;
  padding: 0 30px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0px 0px 0px 300px;
}

.bonsai .gallery-top {
  max-width: 700px;
  height: 820px;
  position: relative;
}

.bonsai .gallery-top:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 70px;
  width: 600px;
  height: 600px;
  border: 120px solid #f8f7f5;
  border-radius: 100%;
}

.bonsai .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bonsai .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.47);
  width: 16px;
  height: 16px;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -ms-flex-item-align: center;
      align-self: center;
}

.bonsai .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 22px;
}

.bonsai .swiper-pagination-bullet-active {
  background-color: #f8f7f5;
  width: 30px;
  height: 30px;
}

.bonsai .swiper-button-next {
  margin-right: 160px;
}

.bonsai .swiper-button-next,
.bonsai .swiper-button-prev {
  margin-left: 160px;
  position: absolute;
  color: #f8f7f5;
  top: 97%;
}

.bonsai .swiper-button-next:after,
.bonsai .swiper-button-prev:after {
  display: none;
}

.bonsai__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bonsai__slider {
  margin: 0px 0px 0px 2%;
}

.bonsai__content {
  color: #202020;
  font-family: "AktivGroteskCorp-Light", serif;
}

.bonsai__title {
  font-size: 36pt;
  margin: 0px 0px 37px 0px;
}

.bonsai__description {
  font-size: 16pt;
  line-height: 35px;
}

.bonsai__parameters {
  margin: 38px 0px 76px 0px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bonsai__item {
  position: relative;
}

.bonsai__item:after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #202020;
}

.bonsai__look {
  padding: 32px 59px;
  background-color: #fff;
  border: 1px solid #202020;
  font-size: 16pt;
  -webkit-transition: all ease 100ms;
  -o-transition: all ease 100ms;
  transition: all ease 100ms;
}

.bonsai__look:hover {
  background-color: #202020;
  color: #fff;
}

.styles {
  background-color: #202020;
  padding: 0 0 15% 0;
}

.styles .swiper-container .swiper-slide:nth-child(2n) {
  margin-top: 50px;
}

.styles .swiper-container {
  width: 80%;
  height: 640px;
}

.styles .swiper-scrollbar-drag {
  background-color: #f8f7f5;
  width: 10px;
  height: 10px;
  border-radius: 0;
}

.styles .swiper-bg {
  width: 100%;
  height: 1px;
  top: 50%;
  position: absolute;
  background-color: #6d6d6d;
}

.styles .swiper-container-horizontal > .swiper-scrollbar {
  opacity: 1;
  width: 20%;
  height: 10px;
  left: 40%;
  bottom: 4%;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.styles .swiper-button-next {
  margin-right: 30%;
}

.styles .swiper-button-next,
.styles .swiper-button-prev {
  margin-left: 30%;
  position: absolute;
  color: #f8f7f5;
  top: 95%;
}

.styles .swiper-button-next:after,
.styles .swiper-button-prev:after {
  display: none;
}

.styles__slide-title {
  font-size: 36px;
  font-family: "AktivGroteskCorp-Light", serif;
}

.styles__lounge {
  background: url("../img/lounge.jpg");
  background-size: cover;
}

.styles__art-deco {
  background: url("../img/art-deco.jpg");
  background-size: cover;
}

.styles__modern {
  background: url("../img/modern.jpg");
  background-size: cover;
}

.styles__slide {
  width: 360px;
  height: 486px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.styles__title {
  font-size: 48px;
  font-family: "AktivGroteskCorp-Light", serif;
  text-align: center;
  padding: 50px 0px 0px 0px;
  margin: -20px 0px 55px 0px;
}

.styles__slide-title {
  margin: 0px 0px 13px -25px;
}

.styles__slide-border {
  border: 1px solid #e8e8e8;
  border-left: none;
  width: 75%;
  height: 190px;
  margin: 210px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.styles__slide-border:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 23%;
  background-color: #e8e8e8;
}

.styles__slide-border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 13%;
  background-color: #e8e8e8;
}

.styles__title-img {
  margin: 0px 0px 0px -25px;
}

.blog {
  background-color: #202020;
  padding-bottom: 30px;
}

.blog__title {
  font-size: 48px;
  font-family: "AktivGroteskCorp-Light", serif;
  text-align: center;
  margin: 0px 0px 100px 0px;
  padding: 0 30px;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__block {
  width: 385.85px;
  height: 472.76px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__block-border {
  border: 1px solid #acacac;
  border-left: none;
  width: 70%;
  height: 190px;
  margin: 140px 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.blog__block-border:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 13%;
  background-color: #acacac;
}

.blog__block-border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 13%;
  background-color: #acacac;
}

.blog__block-title {
  font-size: 36px;
  font-family: "AktivGroteskCorp-Light", serif;
  line-height: 45px;
}

.blog__block-title,
.blog__title-img {
  margin: 0px 0px 0px -25px;
}

.blog__started {
  border: 1px solid rgba(238, 238, 238, 0.05);
  padding: 42px 34px;
  margin: 45px 0px 0px 150px;
}

.blog__process {
  border: 1px solid rgba(238, 238, 238, 0.05);
  padding: 42px 34px;
  height: 557px;
}

.blog__started-bg {
  background: url("../img/how-we.jpg") no-repeat;
  background-size: cover;
}

.blog__process-bg {
  background: url("../img/process.jpg") no-repeat;
  background-size: cover;
}

.contacts {
  background: url("../img/map.jpg") 0 0/cover no-repeat;
  width: 100%;
}

.contacts .title {
  margin-top: 30px;
  color: #202020;
}

.contacts .title:after {
  background-color: #202020;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__block {
  width: 550px;
  height: 430px;
  background-color: rgba(255, 255, 255, 0.52);
  margin: 50px 50px 50px 0px;
  font-family: "AktivGroteskCorp-Light", serif;
  line-height: 26px;
  color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.contacts__logo {
  position: absolute;
  top: 50px;
  right: 50px;
}

.contacts__content {
  padding: 0 105px;
}

.contacts__content > p:first-child {
  margin: 0px 0px 20px 0px;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px 0px 0px;
  max-width: 180px;
}

.contacts__item {
  width: 33px;
  height: 33px;
}

.footer {
  height: 230px;
  background-color: #202020;
  font-family: "AktivGroteskCorp-Light", serif;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.footer__left-side {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__logo {
  margin-bottom: 55px;
}

.footer__right-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__phone {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 55px;
}

.footer__phone-link:link {
  color: #f8f7f5;
  text-decoration: underline;
}

.footer__phone-link:visited {
  color: #f8f7f5;
}

.footer__privacy {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 1221px) {
  .about__bonsai-img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
  }

  .about__bonsai {
    position: absolute;
    left: 40%;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
  }
}

@media (min-width: 1561px) {
  body {
    background-color: #f8f7f5;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
  }

  .about {
    padding-top: 190px;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
  }

  .bonsai .gallery-thumbs {
    margin: 0px 0px 0px 300px;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
  }

  .bonsai__content {
    color: #202020;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
  }
}

@media (max-width: 1919px) {
  .bg {
    background: url("../img/section-bg.svg") 0 0/auto 100% no-repeat;
  }
}

@media (max-width: 1640px) {
  .about__what-is:after {
    content: "";
    position: absolute;
    width: 480px;
    height: 480px;
    top: 70px;
    left: -210px;
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1;
  }

  .about__what-is:before {
    content: "";
    position: absolute;
    width: 670px;
    height: 670px;
    top: -25px;
    left: -305px;
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1;
  }

  .about__bonsai:before,
  .about__bonsai:after {
    opacity: 0;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    display: none;
  }
}

@media (max-width: 1600px) {
  .header__scroll-text {
    margin: 100px 0px 0px 0px;
  }

  .header__slider-img {
    width: 600px;
    height: 600px;
  }

  .header__fullscreen-block {
    max-width: 100%;
  }

  .header .swiper-container {
    max-width: 600px;
    max-height: 600px;
    border-radius: 100%;
  }

  .header__slider:after {
    left: -100px;
    top: -100px;
    width: 800px;
    height: 800px;
  }
}

@media (max-width: 1560px) {
  body {
    background-color: #202020;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
  }

  .about {
    padding-top: 0;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
  }

  .about__bonsai-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .about__bonsai {
    position: absolute;
    left: 40%;
  }

  .about__bonsai:before,
  .about__bonsai:after {
    opacity: 0;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    display: none;
  }

  .bonsai .gallery-thumbs {
    margin: 0px 0px 0px 2%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
  }

  .bonsai .gallery-top {
    margin: 0;
  }

  .bonsai__content {
    color: #f8f7f5;
  }
}

@media (max-width: 1525px) {
  .bg-wrapper {
    height: auto;
  }

  .styles {
    padding: 20% 0 20% 0;
  }
}

@media (max-width: 1365px) {
  .bonsai .gallery-thumbs {
    margin: 0 auto;
    max-width: 80%;
  }

  .bonsai__choice {
    display: block;
  }

  .bonsai .gallery-top {
    margin: 0 auto 80px auto;
    max-width: 80%;
  }

  .bonsai .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bonsai__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bonsai__look {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 1350px) {
  .header__right-side {
    display: none;
  }

  .header__left-side {
    min-width: 100%;
  }

  .header__edge {
    display: none;
  }

  .header__menu {
    margin: 0px 0px 0px 80px;
  }

  .header__welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__title {
    text-align: center;
  }

  .header__title:after {
    width: 100%;
  }

  .header__title-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__subtitle {
    text-align: center;
  }

  .header__read-more {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .header__scroll-text {
    display: none;
  }
}

@media (max-width: 1220px) {
  .about__bonsai-img {
    opacity: 0.2;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
  }

  .about__bonsai {
    position: absolute;
    left: -420px;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
  }

  .blog__started {
    border: none;
  }

  .blog__process {
    border: none;
  }

  .blog__title {
    margin: 0px 0px 0px 0px;
  }

  .blog__started-bg {
    background: url("../img/how-we.jpg") center/auto 100% no-repeat;
    background-size: cover;
  }

  .blog__process-bg {
    background: url("../img/process.jpg") center/auto 100% no-repeat;
    background-size: cover;
  }

  .blog__block {
    max-width: 100%;
    max-height: auto;
  }

  .blog__started {
    margin: 0;
  }

  .blog__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 900px) {
  .bonsai__slider-img {
    width: 500px;
    height: 513px;
  }

  .bonsai .gallery-top {
    height: 600px;
  }

  .bonsai .gallery-top:after {
    width: 400px;
    height: 400px;
    border: 90px solid #f8f7f5;
  }

  .bonsai .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
  }

  .bonsai .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .bonsai .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
  }

  .bonsai .swiper-button-next {
    margin-right: 120px;
  }

  .bonsai .swiper-button-next,
  .bonsai .swiper-button-prev {
    margin-left: 120px;
  }
}

@media (max-width: 768px) {
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__title-block {
    height: 90%;
    margin-top: 0px;
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }

  .header__burger {
    z-index: 4;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }

  .header__burger:after,
  .header__burger:before {
    content: '';
    position: absolute;
    background-color: #f8f7f5;
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:after {
    top: 0;
  }

  .header__burger:before {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #f8f7f5;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__left-side {
    min-width: 0;
    max-width: 100%;
  }

  .header__menu {
    margin: 0px 0px 0px 0px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__menu-item {
    font-size: 36pt;
    margin: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .header__menu-item:not(:last-child)::after {
    display: none;
  }

  .header__menu-item:not(:last-child) {
    margin: 0;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__title {
    font-size: 56pt;
  }

  .header__fullscreen-block {
    padding-top: 30px;
  }

  .header__logo {
    display: none;
  }
}

@media (max-width: 750px) {
  .about__what-is:after,
  .about__what-is:before {
    display: none;
  }

  .about__content {
    text-align: center;
    margin: 0 auto;
  }

  .about__bonsai {
    opacity: 0;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
  }

  .about__what-is {
    padding-top: 0;
  }
}

@media (max-width: 650px) {
  .title-wrapper {
    display: none;
  }

  .bg-wrapper {
    margin: 0;
  }

  .bonsai__slider-img {
    width: 250px;
    height: 263px;
  }

  .bonsai .gallery-top {
    height: 320px;
  }

  .bonsai .gallery-top:after {
    top: 30px;
    left: 40px;
    width: 200px;
    height: 200px;
    border: 40px solid #f8f7f5;
  }

  .bonsai .gallery-thumbs {
    padding: 0;
  }

  .bonsai .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .bonsai .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
  }

  .bonsai .swiper-button-next img {
    margin-left: 230px;
    width: 45px;
    height: auto;
  }

  .bonsai .swiper-button-prev img {
    margin-right: 230px;
    width: 45px;
    height: auto;
  }

  .bonsai .swiper-button-next,
  .bonsai .swiper-button-prev {
    top: 95%;
  }

  .bonsai__content {
    font-size: 17px;
    text-align: center;
  }

  .bonsai__look {
    padding: 15px 25px;
    font-size: 17px;
  }

  .bonsai__parameters {
    margin: 30px 0px 30px 0px;
  }

  .styles .swiper-container-horizontal > .swiper-scrollbar {
    opacity: 1;
    width: 40%;
    height: 10px;
    left: 30%;
    bottom: 4%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .styles .swiper-button-next {
    margin-right: 15%;
  }

  .styles .swiper-button-next,
  .styles .swiper-button-prev {
    margin-left: 15%;
    position: absolute;
    color: #f8f7f5;
    top: 95%;
  }

  .styles .swiper-button-next:after,
  .styles .swiper-button-prev:after {
    display: none;
  }

  .contacts .title {
    z-index: 1;
  }

  .contacts__block {
    width: 100%;
    margin: 0;
  }

  .contacts__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__container {
    font-size: 17px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .footer__right-side {
    width: 100%;
    display: block;
  }

  .footer__left-side {
    width: 100%;
  }

  .footer__logo {
    margin: 25px 0px 30px 0px;
  }

  .footer__phone {
    margin: 30px 0px 30px 0px;
  }
}

@media (max-width: 450px) {
  .about__description {
    font-size: 17px;
  }

  .bonsai__description {
    font-size: 17px;
  }

  .styles {
    padding: 40% 0 40% 0;
  }

  .styles__slide-border {
    margin: 0 auto;
  }

  .styles__modern {
    background: url("../img/modern.jpg") 0 0/100% 100% no-repeat;
  }

  .styles__lounge {
    background: url("../img/lounge.jpg") 0 0/100% 100% no-repeat;
  }

  .styles__art-deco {
    background: url("../img/art-deco.jpg") 0 0/100% 100% no-repeat;
  }

  .styles__slide {
    width: 261px;
    height: 342px;
  }

  .styles .swiper-container {
    width: 80%;
    height: 420px;
  }

  .styles .swiper-container .swiper-slide:nth-child(2n) {
    margin-top: 0;
  }

  .contacts__block {
    font-size: 17px;
  }

  .contacts__content {
    padding: 0 40px;
  }

  .contacts__social {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .header__title {
    font-size: 48pt;
  }
}
@supports (-webkit-appearance:none){
.bg{background:url("../img/section-bg.svg") no-repeat}
.styles__lounge{background:url("../img/lounge.webp")}
.styles__art-deco{background:url("../img/art-deco.webp")}
.styles__modern{background:url("../img/modern.webp")}
.blog__started-bg{background:url("../img/how-we.webp") no-repeat}
.blog__process-bg{background:url("../img/process.webp") no-repeat}
.contacts{background:url("../img/map.webp") 0 0/cover no-repeat}
}

 @media (min-width: 1221px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1561px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1919px){

@supports (-webkit-appearance:none){
.bg{background:url("../img/section-bg.svg") 0 0/auto 100% no-repeat}
}

}

 @media (max-width: 1640px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1560px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1525px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1365px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1350px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1220px){

@supports (-webkit-appearance:none){
.blog__started-bg{background:url("../img/how-we.webp") center/auto 100% no-repeat}
.blog__process-bg{background:url("../img/process.webp") center/auto 100% no-repeat}
}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 750px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){
.styles__modern{background:url("../img/modern.webp") 0 0/100% 100% no-repeat}
.styles__lounge{background:url("../img/lounge.webp") 0 0/100% 100% no-repeat}
.styles__art-deco{background:url("../img/art-deco.webp") 0 0/100% 100% no-repeat}
}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){

}

}
